@{
  Layout = "_Layout";
}

<h1>Welcome to the To Do List!</h1>
<p>@Html.ActionLink("See all items", "Index", "Items")</p>  <!--creates a clickable link. ¸where the "see all items" is what the link is added to, the "index" is the method we would like to run, and the "items" is the controller we would like to go to. Action link usually routes to the controller corresponding to the views folder we are in. We specify Items here bc we are NOT already in items views-->
<p>@Html.ActionLink("See all categories", "Index", "Categories")</p>
<p>@Html.ActionLink("See all tags", "Index", "Tags")</p>
