@{
  Layout = "_Layout";
}

@using ToDoList.Models;

<h1>Items</h1>

<ul>
  @foreach(Item item in Model)
  {
    <li>@Html.ActionLink($"{item.Description}", "Details", new { id = item.ItemId })</li>
  }

<p>@Html.ActionLink("Add new item", "Create")</p> <!--create link to the new item page, points to create method in controller. Dont need to state controller name since we are in the items view